.slides {
  display: grid;
}

.slides > * {
  grid-area: 1 / 1;
  opacity: 0;
  visibility: hidden;
}

.slides > *.active {
  opacity: 1;
  visibility: visible;
}

.slides img,
.slides video {
  max-width: 100%;
  display: block;
}